.modalWrapper{
  width: 100%;
  height: 100vh;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 3000;

  background-color: rgba(0, 0, 0, .67);

  display: none;
  justify-content: center;
  align-items: center;
}


.modalWrapper .modalContent{
  width: min(90%, 700px);
  height: min(70%,85%);
  animation: fade 1s ease forwards;
}


@keyframes fade {
  0%{
    opacity: 0;
    transform: scale(.6);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.modalWrapper .modalContent img{
  width: 100%;
  height: 100%;
}

.modalWrapper .modalContent .closeIcon{
  position: absolute;
  right: -2.4rem;
  top: -2.9rem;
  color: white;
  font-size: 2.5rem;
  opacity: 0;
  cursor: pointer;

  animation: appear 1s .3s ease forwards;

}


@keyframes appear {
  from{
    transform: translateY(-10rem);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.modalWrapper.active{
  display: flex;
}

@media screen and (max-width: 600px){
  .modalWrapper.active{
    display: none;
  }
}


