@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Poppins&display=swap');

/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  display: inline-block;
}

:root {
  font-size: 62.5%;
}

html,
body {
  font-family: 'Ubuntu', Arial;
  width: 100%;
  height: 100%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #021124;
  overflow-y: auto;
  width: 20rem;
  transition: all ease-in-out 0.5s;
  padding: 0 0.9rem;
  z-index: 2000;
}

#header .profile img {
  margin: 0.9rem auto;
  display: block;
  width: 11rem;
  height: 11.5rem;
  border: 8px solid #2c2f3f;
  border-radius: 50%;
}

#header .profile h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

#header .profile .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#header .profile .social-links a {
  font-size: 1.6rem;
  background: #212431;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 100%;
  transition: 0.3s;
  cursor: pointer;
}

#header .profile .social-links a:hover {
  background-color: #149ddd;
}

.padding-inline {
  padding-inline: 2rem;
}

h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem !important;
}

p {
  font-size: 1.4rem;
}

#sobre li {
  font-size: 1.3rem;
}

#habilidades .row .progress div {
  font-size: 1.1rem;
  padding-block: 5px;
}

#pad-port {
  padding: 1rem 4rem;
}

#contato label {
  font-size: 1.3rem;
}

.nav-menu {
  padding: 1.5rem;
}

input,
textarea {
  font-size: 1.4rem !important;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  transition: 0.3s;
  font-size: 1.3rem;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 2rem;
  padding-right: 0.8rem;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
  color: #149ddd;
}

#main {
  margin-left: 20rem;
}

section#inicio {
  background-image: url('imgs/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;

  width: 100%;
  height: 100vh;

  overflow: hidden;
}

/* .align-items-end{
  margin-left: -10rem;
} */

#inicio h2 {
  font-size: 6rem;
  animation-delay: 0.2s;
}

#subtitle {
  margin-right: 12rem;
  font-size: 1.7rem;
  animation-delay: 0.5s;
  text-shadow: 0px -2px 2px black;
  visibility:hidden;
  /* opacity: 0; */
}

#subtitle::after{
  content: '|';
  color: orange;
  margin-left: 0.3rem;
  opacity: 1;

  animation: flasher 0.7s infinite;
}

@keyframes flasher {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


.txt-shadow {
  text-shadow: 4px 4px 10px #000000;
}

#arraste {
  position: relative;
  z-index: 3000;

  width: 9rem;
}

#arraste a {
  top: -1rem;
  position: absolute;
  font-size: 1.3rem;
  color: #fff;
}
/* icone do menu */
.menu-mobile {
  position: fixed;
  right: -2rem;
  top: 2rem;
  transform: translateX(10rem);
  transition: 0.5s ease;
  z-index: 1000;
}

.menu-mobile .box {
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  position: relative;
  right: 3rem;
  transition: 0.3s ease;
}

.menu-mobile .box div:nth-child(1)::after {
  content: '';
  height: 2px;
  width: 3rem;
  background-color: #fff;
  position: absolute;
  box-shadow: 1px 2px 1px black;
  top: 2px;
  left: 0px;
}
.menu-mobile .box div:nth-child(2)::after {
  content: '';
  height: 2px;
  width: 3rem;
  background-color: #fff;
  position: absolute;
  box-shadow: 1px 2px 1px black;
  top: 7px;
}
.menu-mobile .box div:nth-child(3)::after {
  content: '';
  height: 2px;
  width: 3rem;
  background-color: #fff;
  position: absolute;
  box-shadow: 1px 2px 1px black;
  bottom: 5px;
}

.menu-mobile.active .box {
  top: 5px;
}

.menu-mobile.active .box div:nth-child(1)::after {
  transform: rotate(47deg) translateX(0px) translateY(1px);
}
.menu-mobile.active .box div:nth-child(2)::after {
  transform: translateX(-10px);
  top: 1px;
  opacity: 0;
}
.menu-mobile.active .box div:nth-child(3)::after {
  transform: rotate(-45deg) translateX(6px) translateY(-9px);
}

.menu-nav-active {
  overflow: hidden;
}

.menu-nav-active #header {
  left: 0;
}

*::-webkit-scrollbar {
  width: 0.6rem;
}

*::-webkit-scrollbar-track {
  width: 0.75;
  box-shadow: inset 0 0 0.3rem #00000050;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000050;
  border-radius: 10px;
}

.section-bg {
  background-color: #eff5ff;
}

.cv .cv-title {
  font-weight: 700;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  color: #050d18;
}

.cv .cv-item {
  padding: 0 0 1.4rem 1.4rem;
  margin-top: -0.2rem;
  border-left: 2px solid #1f4297;
  position: relative;
}

.cv .cv-item h4 {
  line-height: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #050d18;
  margin-bottom: 1rem;
}

.cv .cv-item h5 {
  background-color: #e4edf9;
  padding: 5px 0.9rem;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.cv .cv-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.6rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid #1f5297;
  background: #fff;
  border-radius: 50%;
}

#btn1-carousel,
#btn-carousel {
  height: 5px;
  border-radius: 50%;
}

.carousel-control-prev {
  margin-left: -9.3rem;
  /* border: 1px solid green; */
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-next {
  margin-right: -3.4rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* display: none; */
}

.carousel-indicators {
  margin-bottom: -3rem;
}

/* Animação */
/* todos os data anime iniciam assim */
[data-anime] {
  opacity: 0;
  transition: 1s;
}
/* depois cada um tem sua config */
[data-anime='down'] {
  transform: translateY(-100%);
}

[data-anime='up'] {
  transform: translateY(100%);
}

[data-anime='left'] {
  transform: translateX(-100%);
}
[data-anime='right'] {
  transform: translateY(100%);
}
/* quando adicionar a classe animate todas as config voltaram ao normal */
[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#btn-enviar {
  line-height: 2rem;
  font-size: 1.2rem;
}

#btn-enviar-loader {
  display: none;
  line-height: 2rem;
  font-size: 1.2rem;
}

#alerta {
  position: fixed;
  z-index: 3000;
  top: 2rem;
  right: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

#footer {
  padding: 1.4rem 1.5rem;
  color: #a8a9b4;
  font-size: 1.2rem;

  width: 100%;
  background-color: #021124;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  #main {
    margin-left: 0;
  }
  #header {
    left: -20rem;
  }

  .menu-mobile {
    /* display: flex; */
    transform: translateX(0);
  }
  #inicio h2 {
    font-size: 4rem;
  }

  #subtitle {
    margin-right: 0rem;
    font-size: 1.5rem;
  }

  #footer {
    width: 20rem;
    padding: 1.4rem 1.5rem;
    z-index: 3000;

    position: relative;
    left: -20rem;
    bottom: 0;
    transition: 1s 0.2s ease;
  }

  #footer.wid {
    position: fixed;
    bottom: 0;
    z-index: 3000;

    left: 0;
  }
}

@media screen and (max-width: 600px) {



  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }
}


.iframe-contact {
  height: 400px;
}

.whatsapp-float {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}