.swiper{
  width: 100%;
  height: 40rem;
  padding: 2rem;
  
  
}


.swiper-slide{
  padding-inline: 2rem;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card-carroussel{
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.card-body{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
  
}

.card-body > .card-title{
  font-size: 1.8rem;
  font-weight: 600;
}

.card-body h5 + p{
  margin-bottom: 2rem;
  text-align: left;
  padding-left: 2rem;
}


.card-body ul{
  columns: 2;
}

.card-body ul li {
  font-size: 1.2rem;
}

.card-body ul li{
  text-align: left;
  list-style-type: disc;
}




@media screen and (max-width: 600px) {

  .swiper{
    height: 60rem;
  }

  .card-carroussel{
    grid-template-columns: 1fr ;
  }

  .card-carroussel img{
    margin: 0 auto;
    width: 100%;
  }
}